<nav class="navbar navbar-light bg-light navbar-expand-md">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts"><i class="fas fa-feather"></i> Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/demo"><i class="fas fa-rocket"></i> Demos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://github.com/sbl1996"><i class="fab fa-github"></i> Github</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/posts/search" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="" name="q" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>